<div class="container">
    <h2>SignUp Form</h2>
    <form [formGroup] = "mainForm">
      <div class="form-group">
        <label>name</label>
        <input type="text" id="username"  formControlName="name" required>
        <p class="text-danger" *ngIf="mainForm.controls['name'].status=='INVALID' && isSubmitForm" >name required!</p>
        <span *ngIf="mainForm.controls['name'].errors?.['minlength']">Minimum 3 characters are required!</span>
       
      </div> 

      <div class="form-group">
        <label>email</label>
        <input type="email" id="email"  formControlName="email" required>
        <p class="text-danger" *ngIf="mainForm.controls['email'].status=='INVALID' && isSubmitForm " >email required!</p>
         <span *ngIf="mainForm.controls['email'].errors?.['email']">Invalid email format!</span>
      </div>

      <div class="form-group">
        <label>password</label>
        <input type="password" id="password"  formControlName="password" required>
       <p class="text-danger" *ngIf="mainForm.controls['password'].status=='INVALID' && isSubmitForm" >password required!</p>
     <span *ngIf="mainForm.controls['password'].errors?.['minlength']">Minimum 6 characters are required!</span>

      </div>

      <div class="form-group">
        <label>contact</label>
        <input type="number" id="confirmPassword"  formControlName="contact" required>
       <p class="text-danger" *ngIf="mainForm.controls['contact'].status=='INVALID' && isSubmitForm" >contact required!</p>
         <span *ngIf="mainForm.controls['contact'].errors?.['pattern']">Invalid contact number. Must be 10 digits.</span>

      </div>

       <label>gender</label><br>
     <input type="radio"  name="gender" value="male"  formControlName="gender">male
    <input type="radio"  name="gender" value="Female" formControlName="gender">Female
    <p class="text-danger" *ngIf="mainForm.controls['gender'].status=='INVALID' && isSubmitForm" >gender required!</p>

    

      <button (click) ="printData()" class="btn">submit</button>
    </form>
  </div>
