.form-control{
    border-radius: 5px;
    margin-left: 25px;
    width: 600px;
}

.search-icon{
    z-index: 10;
    position: absolute;
    right: 48%;
}
.form-group{
    display: inline-flex;
}
.navbar-nav{
    display: -webkit-inline-box;
    margin-left: 30%;
    font-family: ui-monospace;
    /* align-content: space-between; */
    position: relative;
}

.navbar-brand{margin-left: 75px;}


table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}