<div class="container">
    <h2>Login Here</h2>
    <form [formGroup] = "mainForm"> 

      <div class="form-group">
        <label>email</label>
        <input type="email" id="email"  formControlName="email" required>
        <p class="text-danger" *ngIf="mainForm.controls['email'].status=='INVALID' && isSubmitForm " >email required!</p>
         <span *ngIf="mainForm.controls['email'].errors?.['email']">Invalid email format!</span>
      </div>

      <div class="form-group">
        <label>password</label>
        <input type="password" id="password"  formControlName="password" required>
       <p class="text-danger" *ngIf="mainForm.controls['password'].status=='INVALID' && isSubmitForm" >password required!</p>
     <span *ngIf="mainForm.controls['password'].errors?.['minlength']">Minimum 6 characters are required!</span>

      </div>


    

      <button (click) ="printData()" class="btn">Login</button>
    </form>
  </div>
